Language: Cpp
BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
ColumnLimit: 100

# Braces
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterStruct: true
  AfterEnum: true
  AfterClass: true
  AfterControlStatement: false
  BeforeElse: false
  SplitEmptyFunction: false

# Alignment
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AlignEscapedNewlines: Right

# Spacing
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Parameters and arguments
BinPackArguments: true
BinPackParameters: true
AllowAllParametersOfDeclarationOnNextLine: true

# Pointer alignment
PointerAlignment: Right

# Indentation
IndentCaseLabels: true
NamespaceIndentation: None
IndentPPDirectives: BeforeHash

# Control statements
AllowShortBlocksOnASingleLine: Empty
# AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None

# Additional options
ReflowComments: true
BreakStringLiterals: true